.singlePage{
    display: flex;
    justify-content: space-evenly;
}
.twice-cards{
    margin-top:40px ;
    width: 600px;
    height: 700px;
}
.btn-single{
    width: 230px;
    border-radius: 50px;
    border: none;
    background-color: green;
    height: 40px;
    color: #fff;
    position: absolute;
    margin-top: 30px;
    margin-left: -395px;
}
