.btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #9B9B9B;
}

.btn:focus {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #4E72CA;
    border-bottom: 1px solid #4E72CA;
}

.con {
    width: 500px;
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
}